In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

dc_bikedaily = pd.read_csv('CBS_2021-2023_Daily_Weather.csv', sep=',')

In [2]:
dc_bikedaily

,Casual,Date,Member,Total_rides,apparent_temperature_mean (°C),temperature_2m_mean (°C),weathercode (wmo code),windspeed_10m_max (km/h)
0,371,2021-01-01,590,961,-0.9,2.3,63,10.6
1,2874,2021-01-02,2844,5718,4.8,7.6,61,19.1
2,495,2021-01-03,1133,1628,0.9,3.9,63,13.0
3,907,2021-01-04,2074,2981,1.0,4.1,3,13.3
4,1057,2021-01-05,2004,3061,1.4,4.0,51,9.2
...,...,...,...,...,...,...,...,...
1090,646,2023-12-27,1934,2580,-8.6,-4.3,71,10.1
1091,3099,2023-12-28,4819,7918,-7.0,-2.5,0,12.8
1092,3491,2023-12-29,5168,8659,-7.8,-3.9,1,9.5
1093,3097,2023-12-30,4497,7594,-7.3,-2.9,1,13.8
1094,2839,2023-12-31,4488,7327,-8.9,-4.6,0,10.2

In [3]:
dc_bikedaily.info

<bound method DataFrame.info of       Casual        Date  Member  Total_rides  apparent_temperature_mean (°C)  \
0        371  2021-01-01     590          961                            -0.9
1       2874  2021-01-02    2844         5718                             4.8
2        495  2021-01-03    1133         1628                             0.9
3        907  2021-01-04    2074         2981                             1.0
4       1057  2021-01-05    2004         3061                             1.4
...      ...         ...     ...          ...                             ...
1090     646  2023-12-27    1934         2580                            -8.6
1091    3099  2023-12-28    4819         7918                            -7.0
1092    3491  2023-12-29    5168         8659                            -7.8
1093    3097  2023-12-30    4497         7594                            -7.3
1094    2839  2023-12-31    4488         7327                            -8.9

      temperature_2m_mean (°C)  weathercode (wmo code)  \
0                          2.3                      63
1                          7.6                      61
2                          3.9                      63
3                          4.1                       3
4                          4.0                      51
...                        ...                     ...
1090                      -4.3                      71
1091                      -2.5                       0
1092                      -3.9                       1
1093                      -2.9                       1
1094                      -4.6                       0

      windspeed_10m_max (km/h)
0                         10.6
1                         19.1
2                         13.0
3                         13.3
4                          9.2
...                        ...
1090                      10.1
1091                      12.8
1092                       9.5
1093                      13.8
1094                      10.2

[1095 rows x 8 columns]>

In [4]:
dc_bikedaily.dtypes

Casual                              int64
Date                               object
Member                              int64
Total_rides                         int64
apparent_temperature_mean (°C)    float64
temperature_2m_mean (°C)          float64
weathercode (wmo code)              int64
windspeed_10m_max (km/h)          float64
dtype: object

In [12]:
unique_values = dc_bikedaily.nunique()
print("Unique values:\n", unique_values, '\n')

Unique values:
 Casual                            1010
Date                              1095
Member                            1034
Total_rides                       1042
apparent_temperature_mean (°C)     398
temperature_2m_mean (°C)           350
weathercode (wmo code)              13
windspeed_10m_max (km/h)           239
dtype: int64

In [ ]:
# we are creating a new column called "quality_label", we define a range and associate that range with a label
dc_bikedaily['season_label'] = dc_bikedaily['date'].apply(lambda value: 'spring'
if value <= 5 else 'summer'
if value <= 7 else 'fall'
if value <=  else 'winter )

#here we are transforming these labels into a categorical data type (specific to pandas) instead of a simple string
dc_bikedaily['season_label'] = pd.Categorical(dc_bikedaily['season_label'],
categories=['spring', 'summer', 'fall', 'winter'])

dc_bikedaily