In [35]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

dc_bike_hourly = pd.read_csv('CBS_2021-2023_Hourly_Weather.csv', sep=',')

In [36]:
dc_bike_hourly

,Casual,Date,Hour,Member,Total_rides,relativehumidity_2m (%),temperature_2m (°C),weathercode (wmo code),windspeed_10m (km/h)
0,20.0,2021-01-01,0,26.0,46.0,90,2.4,1,10.2
1,23.0,2021-01-01,1,23.0,46.0,88,1.8,1,10.0
2,20.0,2021-01-01,2,28.0,48.0,87,1.1,2,10.1
3,9.0,2021-01-01,3,7.0,16.0,81,1.6,2,10.6
4,7.0,2021-01-01,4,5.0,12.0,77,1.6,2,9.9
...,...,...,...,...,...,...,...,...,...
26275,132.0,2023-12-31,19,190.0,322.0,71,-7.7,0,3.3
26276,125.0,2023-12-31,20,194.0,319.0,79,-10.2,0,6.7
26277,84.0,2023-12-31,21,137.0,221.0,80,-11.0,0,10.0
26278,83.0,2023-12-31,22,142.0,225.0,80,-10.4,0,8.7
26279,82.0,2023-12-31,23,106.0,188.0,73,-8.5,0,3.7

In [37]:
dc_bike_hourly.info

<bound method DataFrame.info of        Casual        Date  Hour  Member  Total_rides  relativehumidity_2m (%)  \
0        20.0  2021-01-01     0    26.0         46.0                       90
1        23.0  2021-01-01     1    23.0         46.0                       88
2        20.0  2021-01-01     2    28.0         48.0                       87
3         9.0  2021-01-01     3     7.0         16.0                       81
4         7.0  2021-01-01     4     5.0         12.0                       77
...       ...         ...   ...     ...          ...                      ...
26275   132.0  2023-12-31    19   190.0        322.0                       71
26276   125.0  2023-12-31    20   194.0        319.0                       79
26277    84.0  2023-12-31    21   137.0        221.0                       80
26278    83.0  2023-12-31    22   142.0        225.0                       80
26279    82.0  2023-12-31    23   106.0        188.0                       73

       temperature_2m (°C)  weathercode (wmo code)  windspeed_10m (km/h)
0                      2.4                       1                  10.2
1                      1.8                       1                  10.0
2                      1.1                       2                  10.1
3                      1.6                       2                  10.6
4                      1.6                       2                   9.9
...                    ...                     ...                   ...
26275                 -7.7                       0                   3.3
26276                -10.2                       0                   6.7
26277                -11.0                       0                  10.0
26278                -10.4                       0                   8.7
26279                 -8.5                       0                   3.7

[26280 rows x 9 columns]>

In [38]:
dc_bike_hourly.dtypes

Casual                     float64
Date                        object
Hour                         int64
Member                     float64
Total_rides                float64
relativehumidity_2m (%)      int64
temperature_2m (°C)        float64
weathercode (wmo code)       int64
windspeed_10m (km/h)       float64
dtype: object

In [39]:
unique_values = dc_bike_hourly.nunique()
print("Unique values:\n", unique_values, '\n')

Unique values:
 Casual                      835
Date                       1095
Hour                         24
Member                     1159
Total_rides                1670
relativehumidity_2m (%)      96
temperature_2m (°C)         532
weathercode (wmo code)       13
windspeed_10m (km/h)        332
dtype: int64

In [40]:
dc_bike_hourly.isnull().sum()
#remove the null values
#dc_bike_hourly = dc_bike_hourly.dropna()

Casual                     11
Date                        0
Hour                        0
Member                     11
Total_rides                11
relativehumidity_2m (%)     0
temperature_2m (°C)         0
weathercode (wmo code)      0
windspeed_10m (km/h)        0
dtype: int64

In [41]:
dc_bike_hourly['Date']= pd.to_datetime(dc_bike_hourly['Date'])
dc_bike_hourly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26280 entries, 0 to 26279
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Casual                   26269 non-null  float64
 1   Date                     26280 non-null  datetime64[ns]
 2   Hour                     26280 non-null  int64
 3   Member                   26269 non-null  float64
 4   Total_rides              26269 non-null  float64
 5   relativehumidity_2m (%)  26280 non-null  int64
 6   temperature_2m (°C)      26280 non-null  float64
 7   weathercode (wmo code)   26280 non-null  int64
 8   windspeed_10m (km/h)     26280 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(3)
memory usage: 1.8 MB

In [42]:
# Extracting year, month, and day
dc_bike_hourly['Date_year'] = dc_bike_hourly['Date'].dt.year
dc_bike_hourly['Date_month_no'] = dc_bike_hourly['Date'].dt.month
dc_bike_hourly['Date_day'] = dc_bike_hourly['Date'].dt.day
dc_bike_hourly['Date_dow_name'] = dc_bike_hourly['Date'].dt.day_name()
dc_bike_hourly['Date_month_name'] = dc_bike_hourly['Date'].dt.month_name()


# Displaying the updated DataFrame
print(dc_bike_hourly.head())

   Casual       Date  Hour  Member  Total_rides  relativehumidity_2m (%)  \
0    20.0 2021-01-01     0    26.0         46.0                       90
1    23.0 2021-01-01     1    23.0         46.0                       88
2    20.0 2021-01-01     2    28.0         48.0                       87
3     9.0 2021-01-01     3     7.0         16.0                       81
4     7.0 2021-01-01     4     5.0         12.0                       77

   temperature_2m (°C)  weathercode (wmo code)  windspeed_10m (km/h)  \
0                  2.4                       1                  10.2
1                  1.8                       1                  10.0
2                  1.1                       2                  10.1
3                  1.6                       2                  10.6
4                  1.6                       2                   9.9

   Date_year  Date_month_no  Date_day Date_dow_name Date_month_name
0       2021              1         1        Friday         January
1       2021              1         1        Friday         January
2       2021              1         1        Friday         January
3       2021              1         1        Friday         January
4       2021              1         1        Friday         January

In [43]:
# Extracting quarter and semester
#dc_bike_hourly['quarter'] = dc_bike_hourly['Date'].dt.quarter
#dc_bike_hourly['semester'] = np.where(dc_bike_hourly['quarter'].isin([1, 2]), 1, 2)

# Displaying the updated DataFrame
#print(dc_bike_hourly.head())

In [44]:
# Extracting hour, minute, and second
#import datetime 
#dc_bike_hourly['hour'] = dc_bike_hourly['Date'].dt.hour
#dc_bike_hourly['Minute'] = dc_bike_hourly['Date'].dt.minute
#dc_bike_hourly['Second'] = dc_bike_hourly['Date'].dt.second
#dc_bike_hourly['time'] = dc_bike_hourly['Date'].dt.time

 #Displaying the updated DataFrame
#print(dc_bike_hourly.head())

In [48]:
from pandas.tseries.holiday import USFederalHolidayCalendar as calendar
cal = calendar()
holidays = cal.holidays(start=dc_bike_hourly['Date'].min(), end=dc_bike_hourly['Date'].max())
dc_bike_hourly['Holiday'] = dc_bike_hourly['Date'].isin(holidays)
dc_bike_hourly

,Casual,Date,Hour,Member,Total_rides,relativehumidity_2m (%),temperature_2m (°C),weathercode (wmo code),windspeed_10m (km/h),Date_year,Date_month_no,Date_day,Date_dow_name,Date_month_name,Season,Holiday
0,20.0,2021-01-01,0,26.0,46.0,90,2.4,1,10.2,2021,1,1,Friday,January,winter,True
1,23.0,2021-01-01,1,23.0,46.0,88,1.8,1,10.0,2021,1,1,Friday,January,winter,True
2,20.0,2021-01-01,2,28.0,48.0,87,1.1,2,10.1,2021,1,1,Friday,January,winter,True
3,9.0,2021-01-01,3,7.0,16.0,81,1.6,2,10.6,2021,1,1,Friday,January,winter,True
4,7.0,2021-01-01,4,5.0,12.0,77,1.6,2,9.9,2021,1,1,Friday,January,winter,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26275,132.0,2023-12-31,19,190.0,322.0,71,-7.7,0,3.3,2023,12,31,Sunday,December,winter,False
26276,125.0,2023-12-31,20,194.0,319.0,79,-10.2,0,6.7,2023,12,31,Sunday,December,winter,False
26277,84.0,2023-12-31,21,137.0,221.0,80,-11.0,0,10.0,2023,12,31,Sunday,December,winter,False
26278,83.0,2023-12-31,22,142.0,225.0,80,-10.4,0,8.7,2023,12,31,Sunday,December,winter,False
26279,82.0,2023-12-31,23,106.0,188.0,73,-8.5,0,3.7,2023,12,31,Sunday,December,winter,False

In [49]:
dc_bike_hourly['Season'] = dc_bike_hourly['Date_month_no'].apply(lambda value: 'winter'if value in (12, 1, 2)
                                                                 else 'Spring'if value in (3, 4, 5) 
                                                                 else 'Summer'if value in (6, 7, 8) 
                                                                 else 'Fall' )

In [51]:
dc_bike_hourly.head()

,Casual,Date,Hour,Member,Total_rides,relativehumidity_2m (%),temperature_2m (°C),weathercode (wmo code),windspeed_10m (km/h),Date_year,Date_month_no,Date_day,Date_dow_name,Date_month_name,Season,Holiday
0,20.0,2021-01-01,0,26.0,46.0,90,2.4,1,10.2,2021,1,1,Friday,January,winter,True
1,23.0,2021-01-01,1,23.0,46.0,88,1.8,1,10.0,2021,1,1,Friday,January,winter,True
2,20.0,2021-01-01,2,28.0,48.0,87,1.1,2,10.1,2021,1,1,Friday,January,winter,True
3,9.0,2021-01-01,3,7.0,16.0,81,1.6,2,10.6,2021,1,1,Friday,January,winter,True
4,7.0,2021-01-01,4,5.0,12.0,77,1.6,2,9.9,2021,1,1,Friday,January,winter,True