In [14]:
print("test")

test

In your file create a variable called my_name with your name as the value. Put your name inside string quotes, e.g., "my name". Then add a line of code to print the variable name.

In [32]:
print("Hello World!")

''
print('')

name = 'Alex Ebuka '

last_name = 'Nnadi' 

full_name = name + "" +last_name
print(full_name)

Hello World!

Alex Ebuka Nnadi

Create a variable called age with a number that is your age. Do not use string quotes for numbers.

In [34]:
my_age = 26
print(26)

26

Create a variable called julia_age with the value 32. Create another variable called age_diff and set it to an expression that calculates your age minus Julias's age. Print your age and the value of age_diff. If you are younger than Julia, age_diff should be a negative number.

In [44]:
my_age = 29
julia_age = 32 
age_diff = my_age - julia_age
print(age_diff)

-3

Write a conditional that compares the variable holding your age with the number 21. It should print either "You are older than 21" or "You are not older than 21", appropriately, depending on your age. Save your file and run the cell. Make sure you see the correct message. Try changing your age in the file to make sure the other message prints when it should.

In [51]:
my_age = 29
list_number = 21
if my_age < list_number:
    print('my_age is not older than list_number')
elif my_age > list_number:
    print('my_age is older than list_number ')

my_age is older than list_number

Write a conditional that compares your age with Julia's age. This conditional will need to test if you are older, younger, or the same age, and print, appropriately, either "Julia is older than you", "Julia is younger than you", or "You are the same age as Julia".

In [52]:
my_age = 29
julia_age = 32 
if my_age < julia_age:
    print('my_age is not older than list_number')
elif my_age > julia_age: 
    print('my_age is older than julia_age')
else: 
    print('my_age is the same with julia_age')

my_age is not older than list_number

Create a list with all the names of your class (including mentors). Sort the list alphabetically, then print the first element of the list.

In [61]:
llamas_list = ['ALex','Pablo','Tim','Emily','Sudha','Rakesh']

llamas_list.sort()
print(llamas_list)

print(llamas_list[0])
for names in llamas_list:
    print(names)

['ALex', 'Emily', 'Pablo', 'Rakesh', 'Sudha', 'Tim']
ALex
ALex
Emily
Pablo
Rakesh
Sudha
Tim

Create a list with all the ages of the students in your class. Iterate through the list using a for loop, and then print every age. Add a conditional inside the loop to only print even numbers.

In [76]:
llamas_age = [32,77,80,29,40,]
#for numbers in llamas_age:
   # print(numbers)
for numbers in llamas_age:
    if numbers % 2 == 0:
        print(numbers)

32
80
40

Write a list containing numbers and print the lowest number.

In [1]:
number_list = [80, 100, 7, 90, 2, 54]
print(min(number_list))

2

Write a list containing numbers and print the highest number.

In [2]:
numbers_list = [1000, 877, 500, 1, 1001,]
print(max(numbers_list))

1001

Given below is a list of 10 customers with year of birth, however, the list can be as large as several thousands of customers. Use a loop to iterate over the list and print the age of each customer.

In [3]:
from datetime import datetime
year_of_birth= [1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]
current_year = datetime.now().year
for year in year_of_birth:
    print ((current_year - year))

25
29
19
14
17
18
30
28
45
16

Given below is a list of 10 customers with name and year of birth, however, the list can be as large as several thousands of customers.

Use a loop to iterate over the list and print the name and age of each customer. Afterwards, for each customer try to print the sentence "customer_name is customer_age years old". customer_name and customer_age should correspond to each customer's name and age.

In [4]:
customer_list = [
                    {"name": "Bob", "age": 1999},
                    {"name": "Jack", "age": 1995},
                    {"name": "Lisa", "age": 2005},
                    {"name": "Maria", "age": 2010},
                    {"name": "Ben", "age": 2007},
                    {"name": "Emma", "age": 2006},
                    {"name": "Oscar", "age": 1994},
                    {"name": "Amy", "age": 1996},
                    {"name": "Paul", "age": 1979},
                    {"name": "Etta", "age": 2008}
                ]
for a in customer_list:
    print(a['name']," is ",2024-a['age'],"years old")

Bob  is  25 years old
Jack  is  29 years old
Lisa  is  19 years old
Maria  is  14 years old
Ben  is  17 years old
Emma  is  18 years old
Oscar  is  30 years old
Amy  is  28 years old
Paul  is  45 years old
Etta  is  16 years old

Exercise 12 Given a list of ages, remove the youngest and the oldest person. ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11] For this exercise try not to use the max() and min() methods.

In [5]:
ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
ages.sort()
ages.pop(0)
ages.pop(-1)
print(ages)

[11, 12, 13, 14, 20, 23, 24, 25]

You have two lists with ages of customers from different cities. The task is to create a new list with the common ages.

In [13]:
berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]

berlin_munich = list(set(berlin).intersection(munich))
print(berlin_munich)

[10, 13, 15, 16, 18, 19]

You have a list with ages.

[15, 13, 16, 18, 19, 15, 10] Remove the duplicates.

In [7]:
age = [15, 13, 16, 18, 19, 15, 10]
ages = list(dict.fromkeys(ages))
print(ages)

[11, 12, 13, 14, 20, 23, 24, 25]

Write a function that works like below: Function name: welcome welcome('Evelyn') would print- 'Welcome Evelyn, have a nice day!' welcome('Jost'), would print - 'Welcome Jost, have a nice day!'

In [8]:
def welcome(name):
    print("Welcome",  name)
    print("Welcome",  name , "have a nice day!")

welcome("jost")

Welcome jost
Welcome jost have a nice day!

Write a function that takes a string as input and calculates the length.

Function name: get_length

get_length('Hello') would print / return 5.

get_length('Hi') would print / return 2.

In [9]:
def get_length(name):
    print(len(name))
get_length("julia")

5

Write a function which checks whether a number is even.

Hint: Think about the modulus operator

Function name: check_even

check_even(6) would print / return 'Yes'

check_even(5) would print / return 'No'

In [10]:
def check_even(number):
    if number%2 == 0:
        return "yes"
    else:
        return "no"

print(check_even(7))

no

Rewrite exercises 11, 12, 13, and 14 in a function.

In [11]:
def number(list):
    print(list[::-1])
list_ex = [11,12,13,14]

number(list)

list[slice(None, None, -1)]

Write a function that takes a list of integers and also a single integer as inputs. It should return true or false if the single integer value is present or not in the list.

In [12]:
integer_list = [5,20,14,51,82,90]
def my_func (x,y):
    if y in x:
        print (True)
    else:
        print(False)

my_func (integer_list, 82)

my_func (integer_list, 20)

my_func (integer_list, 1)

my_func (integer_list, 90)

True
True
False
True